.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 420px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -10px 4px 24px 0px #0000001a;
  padding: 30px;
  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }
  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
  .greenButton {
    position: relative;

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
    &:hover {
      img {
        transform: translateX(5px);
      }
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  border-radius: 18px;
  background-color: #9dd458;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: bacground 0.1s ease-in-out;
  &:hover {
    background-color: lighten($color: #9dd458, $amount: 10%);
  }
  &:active {
    background-color: darken($color: #9dd458, $amount: 10%);
  }
}
