header {
  border-bottom: 1px solid #eaeaea;

  ul {
    display: flex;
    gap: 32px;

    li {
      display: flex;
      gap: 8px;
      align-items: center;

      span {
        font-size: 14px;
        opacity: 0.5;
      }
    }
  }

  h3,
  p {
    margin: 0;
  }
}
